<div>
  <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript">
    //custom JS code
       $(document).ready(function(){
            $('.collapsible').collapsible();
          });
      $(document).ready(function(){
        $('.materialboxed').materialbox();
        });
  </script>
  <script lang="javascript">
    $('.button-collapse').sideNav({
       menuWidth: 300, // Default is 240
       edge: 'left', // Choose the horizontal origin
       closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
     }
    );
  </script>
</div>
