<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <ul id="slide-out" class="side-nav fixed">
     <li><a href="#!">First Sidebar Link</a></li>
     <li><a href="#!">Second Sidebar Link</a></li>
   </ul>
   <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    {% include header.html %}

    <main>
      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}
    {% include jsLinks.html %}
  </body>

</html>
